@import "tailwindcss";

@theme {
  --color-primary: #7f13ec;
  --color-background-light: #f7f6f8;
  --color-background-dark: #141118;
  --color-surface-dark: #1e1b24;
  --color-sidebar-dark: #19161f;

  /* Fonts */
  --font-display: "Be Vietnam Pro", sans-serif;

  /* Border Radius */
  --radius-default: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-full: 9999px;

  --background-image-purple-gradient: linear-gradient(
    135deg,
    #7f13ec 0%,
    #a855f7 100%
  );
}
input {
  @apply focus:outline-none;
}
